body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #333;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
}

#menu {
  display: flex;
  justify-content: center;
  gap: 10px; /* Расстояние между кнопками */
  margin-top: 20px;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

button.small {
  width: 30px; /* Изменен размер кнопки */
}

.inline {
  display: flex;
  align-items: center;
}

.inline > * {
  margin-right: 10px;
}

button.add-repair {
  padding: 4px 8px;
}

input.small, select.small {
  width: 150px;
}

#buttons, #search-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#addDeviceForm, #searchDeviceForm, #addRepairForm {
  display: none; /* Формы скрыты по умолчанию */
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  margin-top: 20px;
  text-align: left; /* Текст выравнивается по левому краю */
}

#addDeviceForm form, #searchDeviceForm form, #addRepairForm form {
  display: flex;
  flex-direction: column;
}

#addDeviceForm form div, #searchDeviceForm form div, #addRepairForm form div {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
